.dropdown {
  background-color: #fff;
  border-radius   : 3px;
  box-shadow      : 0 0 10px rgba(23, 59, 117, 0.55);
  font-family     : "Open Sans";
  font-size       : 14px;
  height          : 70px;
  line-height     : 25px;
  margin-top      : 42px;
  padding-top     : 10px;
  padding-left    : 20px;
  position        : absolute;
  right           : -9999px;
  /* right     : 0; */
  text-align: left;
  top       : 0;
  width     : 163px;
  z-index   : 10;
}

.dropdown:hover {
  transition: all 0.6s ease;
  right     : 0;
}

.dropdown:after {
  content      : '';
  position     : absolute;
  bottom       : 100%;
  left         : 87%;
  border-top   : 0 solid transparent;
  border-bottom: 10px solid #fff;
  border-left  : 10px solid transparent;
  border-right : 10px solid transparent;
  width        : 0;
  height       : 0;
}

.dropdown:before {
  bottom  : 100%;
  content : '';
  position: absolute;
  left    : 0;
  right   : 0;
  height  : 50px;
}
