/* Телефон и ссылка на расписание из шапки */

.contacts__phone {
  /* line-height   : 54px; */
  color          : #ffffff;
  font-size      : 21px;
  font-weight    : 700;
  text-decoration: none;
  text-transform : uppercase;
}

