/* Телефон и ссылка на расписание из шапки */

.contacts__link {
  /* line-height: 54px; */
  color          : #f89513;
  font-size      : 14px;
  font-weight    : 700;
  opacity        : 0.7;
  text-decoration: underline;
  transition     : all 0.4s ease;
}

.contacts__link:active, .contacts__link:visited {
  color: #f89513;
}

.contacts__link:hover {
  color: #d0d0d0;
}

.contacts__link:hover + .dropdown  {
  right: 0;
}
