.services__item {
  /* border      : 1px solid #000; */
  /* float       : left; */
  display       : inline-block;
  vertical-align: top;

  margin-right : 44px;
  margin-bottom: 41px;
  width        : 262px;
}

.services__item:nth-child(3n) {
  /* float       : right; */
  margin-right: 0;
  width       : 250px;
} 

.services__item:nth-child(3n+1) {
  margin-right: 48px;
}

.services__item:nth-child(3n+2) {
  margin-right: 58px;
} 

